/* screen - di-zhi-geng-xin */

body {
  margin: 0;
  background: #101010"

}

html {
  background: #000000;
  position: relative;
}

.di-zhi-geng-xin {
  align-items: flex-start;
  background-color: var(--gray-1);
  border: 1px none;
  display: flex;
  overflow: hidden;
  /* width: 1920px; */
}

.di-zhi-geng-xin .overlap-group1 {
  height: 1500px;
  /* position: relative; */
  /* width: 2374px; */
  padding-top: 40px;
}

.di-zhi-geng-xin .image-2 {
  height: 551px;
  bottom: 0;
  right: 0;
}

.di-zhi-geng-xin .image-3 {
  height: 904px;
  left: 0;
  top: 0;
}

.di-zhi-geng-xin .frame-5316 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: 934px;
  mix-blend-mode: color-dodge;
  opacity: 0.3;
  position: absolute;
  top: 827px;
  width: fit-content;
}

.di-zhi-geng-xin .frame-5306 {
  height: 40px;
  min-width: 986px;
  position: relative;
}

.di-zhi-geng-xin .frame-5310 {
  height: 40px;
  min-width: 916px;
  position: relative;
}

.di-zhi-geng-xin .frame-5311 {
  height: 40px;
  min-width: 846px;
  position: relative;
}

.di-zhi-geng-xin .frame-5312 {
  height: 40px;
  min-width: 776px;
  position: relative;
}

.di-zhi-geng-xin .view-3 {
  align-items: flex-start;
  display: flex;
  height: 1000px;
  left: 0;
  mix-blend-mode: color-dodge;
  opacity: 0.3;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1920px;
}

.di-zhi-geng-xin .ellipse-container {
  height: 787px;
  margin-left: -445px;
  margin-top: -210.78px;
  position: relative;
  width: 2796px;
}

.di-zhi-geng-xin .ellipse-1 {
  background-color: #5d5dcc;
  border-radius: 793.6px/379.9px;
  filter: blur(502.44px);
  ;
  height: 760px;
  left: 0;
  mix-blend-mode: screen;
  position: absolute;
  top: 27px;
  width: 1587px;
}

.di-zhi-geng-xin .ellipse-2 {
  background-color: #ad14cc;
  border-radius: 768px/367.65px;
  filter: blur(502.44px);
  ;
  height: 735px;
  left: 1260px;
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  width: 1536px;
}

.di-zhi-geng-xin .text_label {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(208.08, 24.48, 244.8) 0%, rgb(249.9, 49.98, 149.94) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--font-family-pingfang_sc-semibold);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 60px;
  /* left: 815px; */
  /* top: 206px; */

  letter-spacing: 4.00px;
  line-height: 60px;
  /* position: absolute; */
  text-align: center;
  text-fill-color: transparent;
  white-space: nowrap;
}

.di-zhi-geng-xin .logo {
  height: 80px;
  /* left: 920px; */
  /* position: absolute; */
  /* top: 80px; */
  width: 80px;
  margin: 0 auto;
  display: inherit;
  margin-top: 10px;
  margin-bottom: 30px;
}

.di-zhi-geng-xin .frame-5317 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* left: 630px;
  position: absolute; */
  /* top: 314px; */
  width: fit-content;
  margin: 0 auto;
}

.di-zhi-geng-xin .view-4 {
  background-color: var(--white);
  border-radius: 20px;
  height: 360px;
  min-width: 660px;
  position: relative;
  padding-top: 20px;
}

.di-zhi-geng-xin .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* left: 30px; */
  min-height: 313px;
  /* position: relative; */
  /* top: 23px; */
  width: 600px;
  margin: 0 auto;
}

.di-zhi-geng-xin .text-1 {
  height: 20px;
  line-height: 20px;
  min-width: 72px;
}

.di-zhi-geng-xin .https {
  height: 16px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 1.0px;
  margin-top: 8px;
  min-width: 139px;
  text-align: center;
  white-space: nowrap;
}

.di-zhi-geng-xin .frame-5314 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 17px;
  position: relative;
  width: fit-content;
}

.di-zhi-geng-xin .view {
  background-color: var(--white);
  border-radius: 50px;
  height: 54px;
  min-width: 600px;
  overflow: hidden;
  position: relative;
}

.di-zhi-geng-xin .flex-row {
  height: 36px;
  left: 20px;
  min-width: 571px;
  top: 9px;
}

.di-zhi-geng-xin .httpsxyz001com {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2.0px;
  min-width: 165px;
  text-align: justify;
  white-space: nowrap;
}

.di-zhi-geng-xin .group-1 {
  align-items: flex-end;
  display: flex;
  gap: 3px;
  margin-left: 294px;
  min-width: 16px;
}

.di-zhi-geng-xin .rectangle-83 {
  height: 8px;
}

.di-zhi-geng-xin .rectangle-84 {
  height: 11px;
}

.di-zhi-geng-xin .rectangle-85 {
  height: 16px;
}

.di-zhi-geng-xin .frame-5313 {
  align-items: center;
  background: linear-gradient(180deg, rgb(186.41, 21.93, 219.3) 0%, rgb(224.4, 89.76, 157.08) 100%);
  border-radius: 40px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-left: 20px;
  padding: 10px 24px;
  position: relative;
  width: fit-content;
}

.di-zhi-geng-xin .text {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.di-zhi-geng-xin .rectangle-83-1 {
  background-color: var(--yellow);
  border-radius: 3px;
  height: 8px;
  width: 3px;
}

.di-zhi-geng-xin .rectangle-84-1 {
  background-color: var(--yellow);
  border-radius: 3px;
  height: 11px;
  width: 3px;
}

.di-zhi-geng-xin .rectangle-85-1 {
  background-color: var(--gray-6);
  border-radius: 3px;
  height: 16px;
  width: 3px;
}

.di-zhi-geng-xin .view-1 {
  background-color: var(--white);
  border-radius: 20px;
  height: 170px;
  min-width: 660px;
  position: relative;
}

.di-zhi-geng-xin .flex-col {
  flex-direction: column;
  left: 30px;
  min-height: 115px;
  top: 23px;
  width: 600px;
}

.di-zhi-geng-xin .app {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  min-width: 144px;
  text-align: center;
  white-space: nowrap;
}

.di-zhi-geng-xin .text-2 {
  height: 16px;
  line-height: 16px;
  margin-top: 8px;
  min-width: 124px;
}

.di-zhi-geng-xin .view-2 {
  background-color: var(--white);
  border-radius: 50px;
  height: 54px;
  margin-top: 17px;
  overflow: hidden;
  position: relative;
  width: 600px;
}

.di-zhi-geng-xin .frame-5313-1 {
  align-items: center;
  background: linear-gradient(180deg, rgb(186.41, 21.93, 219.3) 0%, rgb(224.4, 89.76, 157.08) 100%);
  border-radius: 40px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  left: 515px;
  padding: 10px 24px;
  position: absolute;
  top: 9px;
  width: fit-content;
}

.di-zhi-geng-xin .httpsxyz001com-1 {
  height: 24px;
  left: 20px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: justify;
  top: 14px;
  white-space: nowrap;
}

.di-zhi-geng-xin .text-8 {
  height: 20px;
  line-height: 20px;
  min-width: 90px;
}

.di-zhi-geng-xin .text-12 {
  height: 16px;
  line-height: 16px;
  margin-top: 8px;
  min-width: 182px;
}

.di-zhi-geng-xin .view-5 {
  background-color: var(--white);
  border-radius: 20px;
  height: 180px;
  min-width: 660px;
  position: relative;
}

.di-zhi-geng-xin .text-13 {
  height: 20px;
  left: 294px;
  line-height: 20px;
  position: absolute;
  top: 23px;
}

.di-zhi-geng-xin .x1-pc-andriod {
  color: var(--gray-a);
  font-family: var(--font-family-pingfang_sc-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 80px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 59px;
  width: 500px;
}

.di-zhi-geng-xin .flex {
  align-items: center;
  display: flex;
  position: relative;
}

.di-zhi-geng-xin .image {
  object-fit: cover;
  position: absolute;
  width: 600px;
}

.di-zhi-geng-xin .rectangle {
  background-color: var(--green);
  border-radius: 3px;
  width: 3px;
}

.di-zhi-geng-xin .text-3 {
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  body {
    /* background-color: lightblue; */
  }

  .di-zhi-geng-xin .text_label {}
  }
